header {
    border-style: solid;
    border-width: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    background-image: url("../images/tile.jpg");
    background-repeat: repeat;
}

button {
    border-radius: 7px;
    border-style: ridge;

}

button:hover {
    background-color: orange;
    border-width: 4px;
    box-shadow: 2px 2px 3px rgb(228, 195, 142);
}

#controls {
    padding: 4px 4px;
}

#gif-Feed, #favoriteFeed {
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    background-color: rgba(122, 107, 107, 0.6);
}

#gifDiv {
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    background-color: white;
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px 10px;
}